<!DOCTYPE html>
<html>
  <head>
    <title>RailsTabas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-light">
    <nav class="navbar sticky-top navbar-light bg-white">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand mb-0 h1"><%= image_pack_tag 'media/images/icon-tabas.svg', size:"110x28" %></a href="#">
        <button type="button" class="btn btn-link navbar-brand mb-0  fs-5 " data-bs-toggle="modal" data-bs-target="#exampleModal">Explore • São Paulo <i class="fa-solid fa-angle-down"></i></button>
        <div>
          <button  class="btn btn-link navbar-brand mb-0  fs-5  navbar-brand mb-0 fs-5 "><i class="fa-solid fa-globe"></i></button >
          <button  class="btn btn-link navbar-brand mb-0  fs-5  navbar-brand mb-0 fs-5 ">Suporte</button >
          <button  class="btn btn-link navbar-brand mb-0  fs-5  navbar-brand mb-0  fs-5 ">Registrar</button >
          <button  class="btn btn-link navbar-brand mb-0  fs-5  navbar-brand mb-0 fs-5 "><i class="fa-solid fa-user"></i> Entrar</button >
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
